<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<head>
	<meta charset="UTF-8">
	<title>Редактирвоание человека</title>
</head>
	<body>
		<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
  			<label for="name">ФИО: </label>
  			<input type="text" th:field="*{name}" id="name"/>
			<br/>
			<br/>
			<label for="age">Год рождения: </label>
			<input type="text" th:field="*{birthYear}" id="age"/>
  			<br/>
  			<br/>
			<hr/>
  			<input type="submit" value="Редактировать">
		</form>
	</body>
</html>